.BoxProduct{
    border-radius: 10px;
    background-color: #fff;
    width: 18%;
    position: relative;
    border: 1px solid transparent;
    transition: .3s all linear;
}

.BoxProduct:hover{
    box-shadow:0 0 5px 0 #000
}

.productImg{
    height: 70%;
}

.selected-heart {
    color: red;
  }